<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pedestrian Detection - Docs</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/components.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/responsee.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/owl-carousel/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/owl-carousel/owl.theme.css') }}">
    <!-- CUSTOM STYLE -->
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/template-style.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='assets/js/jquery-1.8.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='assets/js/jquery-ui.min.js') }}"></script>
    <!--<script type="text/javascript" src="{{ url_for('static',filename='assets/js/validation.js') }}"></script>-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  </head>  
  
  <body class="size-1140">
  
    <!-- HEADER -->
    <header role="banner">
      <!-- Top Bar -->
      <!-- Top Navigation -->
      <nav class="background-white background-primary-hightlight">
        <div class="line">
          <div class="s-12 l-2">
             <a href="index.html">
              <h1> <span class="background-primary text-white logo-text">Pedestrian</span><span class="text-dark logo-text">Detector</span></h1>
            </a>
          </div>
          <div class="top-nav s-12 l-10">
            <p class="nav-text"></p>
            <ul class="right chevron">
              <li><a href="{{ url_for('home') }}">Home</a></li>
              <li><a href="{{ url_for('live') }}">Live</a></li>
              <li><a href="{{ url_for('docs') }}">Docs</a></li>
              <li><a href="{{ url_for('authors') }}">Authors</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    
    <!-- MAIN -->
    <main role="main">
      <!-- Content -->
      <article>
        <header class="section background-primary section-small-padding text-center">
            <h1 class="text-white margin-bottom-0 text-size-50 text-thin text-line-height-1">Documentation</h1>
        </header>
        <div class="section background-white"> 
          <div class="line">
            <h2 class="text-size-30">INTRODUCTION </h2>
            <p>
              In recent years with the increased interest in the security and surveillance application,
              pedestrian detection has become an important problem in Artificial intelligence.
              The accurate and robust detection of pedestrians is a challenging task when it comes to AIs.
              The convolutional neural networks functions as a joint feature extraction and feature classification model,
              eliminating the need for separately designing a robust feature descriptor and training a classification model.
              Pedestrian detection is an essential and significant task in any intelligent video surveillance system.
              In our project, we will be using the linear SVC and the HOG for the Detection and with the Localization we
              will be using sliding windows.
            </p> 
            <p class="margin-top-bottom-20">
              The pedestrian detection is formulated as a binary classification problem, where a candidate pedestrian with a box bounded is classified as a pedestrian.<br/>
              Our Algorithm for this project has one main component which is binary classification using trained convolutional neural network.
            </p>
              <h4 class="text-size-30">METHOD </h4>
            <p class="margin-bottom-30">
              We have dataset which comprises of Positive class and Negative class. The Positive class comprises
              of list of images containing human beings which is the entity of interest and the Negative class also comprises of images but without human beings.
              Extraction of all the features of the positive class images and the negative class images are done using HOG.
              These classes need to be given an identity which is 0 and 1. For images with humans we get 1 and for images without humans we get 0 by running the prediction algorithm.
              The positive images are manually analyzed and all location of the entity of interest or recorded.
              We record the positons X and Y and also the width and height of the bounding box around the entity of interest (a human being).
              These annotations are then used in the program to localize and extract the features of the bounding box using hog features extraction.
              For the negative images, we randomly select about ten sections of the image and also extract its features. We train a development model with these features for the positive and negative classes.
              We then use this development model to find hard negative features for most of the images in the negative class by running prediction on the images in the negative class.
              For these images that are predicted as positive we record them as hard negatives and retrain the model with this new extracted features

            </p>
            <div class="line">
              <div class="margin">
                <div class="s-12 m-12 l-6 margin-m-bottom-30">
                  <h2>Histogram of Oriented Gradients</h2>
                  <p>
                    The HOG (Histogram of Oriented Gradients) is a feature descriptor that is often used to extract features from image data.
                    It focuses on the structure or the shape of an object. These orientations are calculated in localized portions.
                    These means that, the complete image is broken down into smaller regions and for each region, the gradients and orientations are calculated.
                  </p>
                </div>
                <div class="s-12 m-12 l-6">
                  <h2>Sliding Window</h2>
                  <p>
                  Sliding windows is a technique which involves using a bounding box of a certain size to slide over
                  an image in an incremental fashion until the full size of the image has been covered.

                  </p>
                </div>
              </div>  
            </div>
          </div>
        </div> 
      </article>
    </main>

    <script type="text/javascript" src="{{ url_for('static',filename='assets/js/responsee.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='assets/owl-carousel/owl.carousel.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='assets/js/template-scripts.js') }}"></script>

   </body>
</html>