<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pedestrian Detection - Live</title>
     <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/components.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/responsee.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/owl-carousel/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/owl-carousel/owl.theme.css') }}">
    <!-- CUSTOM STYLE -->
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/template-style.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='assets/js/jquery-1.8.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='assets/js/jquery-ui.min.js') }}"></script>
    <!--<script type="text/javascript" src="{{ url_for('static',filename='assets/js/validation.js') }}"></script>-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  </head> 
  
  <body class="size-1140">
  

    <!-- HEADER -->
    <header role="banner">
      <!-- Top Bar -->
      <!-- Top Navigation -->
      <nav class="background-white background-primary-hightlight">
        <div class="line">
          <div class="s-12 l-2">
            <a href="index.html">
              <h1> <span class="background-primary text-white logo-text">Pedestrian</span><span class="text-dark logo-text">Detector</span></h1>
            </a>          </div>
          <div class="top-nav s-12 l-10">
            <p class="nav-text"></p>
            <ul class="right chevron">
              <li><a href="{{ url_for('home') }}">Home</a></li>
              <li><a href="{{ url_for('live') }}">Live</a></li>
              <li><a href="{{ url_for('docs') }}">Docs</a></li>
              <li><a href="{{ url_for('authors') }}">Authors</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    
    <!-- MAIN -->
    <main role="main">
      <!-- Content -->
      <section class="background-primary section-top-small-padding">
        <header class="text-center">
            <h1 class="text-whitemargin-bottom-0 text-size-50 text-thin text-line-height-1">{{ title }}</h1>
        </header>
        <div class="center padding">
          <div class="line">
            <div class="text-center">
              <div class="s-12 m-12 l-12">
                <div class="padding-2x block-bordered border-radius background-dark">
                  <img class="center" src="{{ url_for('stream') }}"/>
                </div>
              </div>
              <!--<div class="s-12 m-12 l-4 margin-bottom">-->
                <!--<div class="padding-2x block-bordered border-radius">-->
                  <!--<i class="icon-display_screen icon2x text-primary margin-bottom-30"></i>-->
                  <!--<h2 class="text-thin">Responsive</h2>-->
                  <!--<p class="margin-bottom-30">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis</p>-->
                  <!--<a class="button border-radius background-primary text-size-12 text-white text-strong" href="/">GET MORE INFO</a>-->
                <!--</div>-->
              <!--</div>-->
            </div>
          </div>
          
        </div> 
      </section>
    </main>

    <script type="text/javascript" src="{{ url_for('static',filename='assets/js/responsee.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='assets/owl-carousel/owl.carousel.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='assets/js/template-scripts.js') }}"></script>

   </body>
</html>